section.dumi-default-header-left {
  width: auto;
  margin-inline-end: 24px;
}

.dumi-default-logo img {
  border-radius: 50%;
}

.dumi-default-hero-title {
  font-size: 138px;
}

.dumi-default-features-item {
  text-align: center;
}

main div.dumi-default-sidebar {
  width: 200px;
  padding-inline-end: 8px;
}
